<section class="container flex flex-col justify-between mt-12">
  <div class="w-full mb-8">
    <h2 class="mb-6 text-2xl font-bold">Buscar productos</h2>

    <div class="input-container mb-4">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Buscar productos..."
        class="border p-2 w-full"
      />
      <button (click)="onSearch()" class="bg-blue-500 text-white p-2 mt-2">
        Buscar
      </button>
    </div>

    <div *ngIf="isLoading" class="mt-4">
      <p>Cargando productos...</p>
    </div>

    <div *ngIf="products.length > 0; else noProducts" class="mt-6">
      <ul class="flex flex-col gap-4">
        <li
          *ngFor="let product of products"
          class="flex flex-col p-4 border border-gray-800 rounded-md"
        >
          <img [src]="product.thumbnail" alt="{{ product.title }}" />
          <h3>{{ product.title }} - ({{ product.id }})</h3>
          <p>Precio: {{ product.price | currency }}</p>
          <div class="flex gap-2">
            <a [href]="product.permalink" class="button" target="_blank">Ver Producto</a>
            <button (click)="addProductAsGift(product)">Agregar Producto</button>
          </div>
        </li>
      </ul>

     
      <div class="flex justify-between mt-4">
        <button (click)="prevPage()" [disabled]="currentPage === 1" class="bg-blue-500 text-white p-2">
          Página Anterior
        </button>
        <span>Página {{ currentPage }}</span>
        <button (click)="nextPage()" [disabled]="currentPage * pageSize >= totalProducts" class="bg-blue-500 text-white p-2">
          Página Siguiente
        </button>
      </div>
    </div>

    <ng-template #noProducts>
      <p>No se encontraron productos.</p>
    </ng-template>
  </div>

  <div class="w-full">
    <h2 class="mb-6 text-2xl font-bold">Lista de Regalos</h2>
    <table class="table-auto w-full border-collapse border border-gray-800">
      <thead>
        <tr class="bg-gray-200">
          <th class="border border-gray-800 px-4 py-2">Nombre del Regalo</th>
          <th class="border border-gray-800 px-4 py-2">Descripción</th>
          <th class="border border-gray-800 px-4 py-2">Estado</th>
          <th class="border border-gray-800 px-4 py-2">Invitado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let gift of gifts">
          <td class="border border-gray-800 px-4 py-2">{{ gift.name }}</td>
          <td class="border border-gray-800 px-4 py-2">{{ gift.description }}</td>
          <td class="border border-gray-800 px-4 py-2">
            <span *ngIf="!gift.isSelected">Disponible</span>
            <span *ngIf="gift.isSelected">Seleccionado</span>
          </td>
          <td class="border border-gray-800 px-4 py-2">
            <span *ngIf="gift.isSelected">
              {{ gift.selectedBy?.nombre }} {{ gift.selectedBy?.apellido }}
            </span>
            <span *ngIf="!gift.isSelected">N/A</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
